  <div class="container">
    <div class="row">
      <div class="col-md-6" style="height: 100vh;">
        <app-status-box [statusHtml]="statusHtml"></app-status-box>
        <app-chat></app-chat>
      </div>
      <div class="col-md-6">
        <app-terminal></app-terminal>
      </div>
    </div>
  </div>
  <div class="modal fade" id="completeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Completed chapter {{chapterTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        WaaHoo!!  You have completed the chapter.  Congrats!  Choose from the options below to continue.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="nextChapterLink()">Next chapter</button>
        <button type="button" class="btn btn-secondary" (click)="homeLink()">Home</button>
      </div>
    </div>
  </div>
</div>